<div class='row'>
  <div class='col-xs-6 col-xs-offset-3'>
      <div class='panel panel-default post-comment'>
        <div class='panel-body'>
          <div class='row'>
            <div class='col-xs-9 col-xs-offset-1'>
              <p><%= link_to comment.user.name, comment.user %></p>
              <p><%= comment.content %></p>
              <p class='comments-time'><%= "#{distance_of_time_in_words comment.created_at, Time.now} ago" %></p>
            </div>
            <div class='col-xs-2'>
              <% if current_user == comment.user %>
                <%= link_to comment,
                  :class => 'btn btn-default btn-md comment-delete-button pull-right',
                  :method => :delete,
                  :data => { :confirm => 'Are you sure you want to delete?'} do %>
                  <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
