= form_for [post, post.comments.build], :html => { :multipart => true },
  :remote => true do |f|
  .row
    .col-xs-6.col-xs-offset-3
      .panel.panel-default.post-comment-box
        .panel-body
          .row
            .col-xs-8
              = f.text_area :content, :id => 'comment-create-content',
                :rows => '1', :class => 'form-control input-sm',
                :placeholder => 'Comment'
            .col-xs-2.comment-button
              %span.btn.btn-sm.btn-success.btn-block.post-comment.btn-file
                %span.glyphicon.glyphicon-paperclip Upload
                = f.file_field :attachment
            .col-xs-2.comment-button
              = f.submit 'Post', :class => 'btn btn-sm btn-primary btn-block post-comment'
