- partial = 'users/follow'
%tr
  %th= link_to user.name, user, :class => 'user-links'
  %th
    - unless current_user == user
      #follow_form
        - partial = 'users/unfollow' if current_user.following? user
        = render :partial => partial, :locals => {:user => user}
