<div class='row'>
  <div class='col-xs-6 col-xs-offset-3'>
    <h1>
      <%= link_to current_user.name, current_user, :class => "post-index-user" %>
    </h1>
  </div>
</div>

<div class='row'>
  <div class='col-xs-6 col-xs-offset-3'>
    <%= link_to 'Create Post', new_post_path,  :class => 'btn btn-success btn-block' %>
  </div>
</div>

<div class='row'>
  <div class='col-xs-6 col-xs-offset-3'>
    <h3>
      Timeline:
    </h3>
  </div>
</div>

<%= render @posts.latest %>
