<div class='row'>
  <div class='col-xs-6 col-xs-offset-3'>
    <h1>
      <%= link_to current_user.name, current_user, :class => 'post-links' %>
    </h1>
  </div>
</div>

<%= form_for @post, :remote => true do |f| %>
  <%= render :partial => 'posts/form', :locals => { :f => f } %>
<% end %>

<div id='post-index'>
  <%= render @posts.latest %>
</div>
