.post-links{
  color: #333333;
  text-decoration: none;
}
.post-user{
  font-size: 2rem;
}
.post-title{
  font-size: 3rem;
}
.post-content{
  font-size: 1.7rem;
  color: #888888
}
#post-index{
  margin-top: 15px;
}
#post-create-title, #post-create-content, #post-create-submit{
  border-radius: 0;
}
#post-create-content{
  margin-top: -1px;
  resize: none;
}
.post-panel, .post-panel-heading, .post-panel-footer,
.post-comment-box, .post-comment,
.comment-button{
  border-radius: 0;
}
#post-index .post-panel, #user-show .post-panel{
  margin-top: 15px;
  margin-bottom: -1px;
}
#post-show .post-panel{
  margin-bottom: -1px;
}
.post-panel-footer{
  padding-bottom: 5px;
}
.post-time{
  font-size: 1.1rem;
  color: #333333;
}
.post-comment-box{
  margin-bottom: 0;
}
.post-comment{
  margin-bottom: 0;
  border-top: none;
}
#comment-create-content{
  margin-bottom: 0;
  border-radius: 0;
  resize: none;
}
.comments-time{
  font-size: 1rem;
  color: #888888;
}
.comment-delete-button{
  border: none;
  opacity: .8;
}
.comment-show-link{
  font-size: 1.1rem;
}
.comment-hide-link-container{
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  font-size: 1rem;
}
.like-unlike-container{
  margin-bottom: 5px;
}
.post-file-btn .bootstrap-filestyle input,
.post-file-btn .bootstrap-filestyle label,
.comment-file-btn .bootstrap-filestyle input,
.comment-file-btn .bootstrap-filestyle label{
  border-radius: 0;
}
.btn-file{
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
