.post-index-user, .post-user, .post-link{
  color: #333333;
  text-decoration: none;
}
.post-user{
  font-size: 2rem;
}
.post-title{
  font-size: 3rem;
}
.post-content{
  font-size: 1.7rem;
  color: #888888
}
.post-panel, .post-panel-heading, .post-panel-footer{
  border-radius: 0;
}
