.post-links{
  color: #333333;
  text-decoration: none;
}
.post-user{
  font-size: 2rem;
}
.post-title{
  font-size: 3rem;
}
.post-content{
  font-size: 1.7rem;
  color: #888888
}
.post-panel, .post-panel-heading, .post-panel-footer,
.post-comment-box, .post-comment, .post-comment-content{
  border-radius: 0;
}
.post-panel{
  margin-bottom: 5px;
}
.post-comment-box{
  margin-bottom: 0;
}
.post-comment{
  margin-bottom: 0;
  border-top: none;
}
.post-comment-content{
  resize: none;
  margin-bottom: 0;
}
.comments-time{
  font-size: 1rem;
  color: #888888;
}
.comment-delete-button{
  border: none;
  opacity: .8;
}
