h1{
	width: 100%;
	text-align: center;
}
.log_in_input_field{
	height: 5rem;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 2rem;
	text-align: center;
}
.log_in_buttons{
	width: 100%;
}
.link_to_sign_up{
	width: 100%;
	text-align: center;
}